<h1 class="w-full text-center">English SmartSys</h1>

<div class="flex flex-wrap justify-content-center">
    <div class="flex flex-wrap w-6 justify-content-center text-center border-solid surface-border w-full border-round-md pb-3">
        <h3 class="inline w-full text-center">Username</h3>
        <input pInputText type="text" [(ngModel)]="username" class="text-center">
        <h3 class="inline w-full text-center">Password</h3>
        <input pInputText type="text" [(ngModel)]="pass" class="text-center">
    </div>
</div>
<div class="text-center">
    <p-button label="Login" (onClick)="login()" styleClass="w-8rem my-4"></p-button>
</div>

<div *ngIf="false" class="text-center">
    <p-button label="Login Student" (onClick)="loginStudent()"></p-button>
    <p-button label="Login Teacher" (onClick)="loginTeacher()"></p-button>
</div>
