<h2 class="text-center">Write the word/phrase and complete the sentence</h2>

<div class="sentence-container">
    <div class="sentence-container" *ngFor="let item of content">
        <div class="sentence-part" *ngIf="!item.isAnswer; else wordComplete">
            <span>{{item.text}}</span>
        </div>
        <ng-template class="sentence-part" #wordComplete>
            <input type="text" pInputText [(ngModel)]="item.text"/>
        </ng-template>
    </div>
</div>
<div style="display: flex; justify-content: center; width: 100%; margin-top: 2rem;" *ngIf="!checked">
    <p-button label="Check answer" icon="pi pi-check" (onClick)="checkAnswer()"></p-button>
</div>