<h2 style="margin-left: 1rem;">Ejercicio - Exercise</h2>
<hr style="margin-top: 2rem; margin-bottom: 2rem;">
<app-word-complete></app-word-complete>
<hr style="margin-top: 2rem; margin-bottom: 2rem;">
<app-choose-option></app-choose-option>
<hr style="margin-top: 2rem; margin-bottom: 2rem;">
<app-select-one></app-select-one>
<hr style="margin-top: 2rem; margin-bottom: 2rem;">
<app-sentece-sort></app-sentece-sort>
<hr style="margin-top: 2rem; margin-bottom: 2rem;">
<div style="display: flex; justify-content: center">
    <p-button label="Watch lesson"></p-button>
</div>