<div class="flex flex-wrap px-3" *ngIf="attemps > 0">
    <div class="w-6">
        <h2>Exercise</h2>
        <h3>Topic: {{ topic!.title }}</h3>
    </div>
    <div class="w-6 justify-content-right text-right">
        <div class="flex flex-wrap mr-1 justify-content-end align-content-center">
            <h2 class="inline mr-2 mb-1">Topic level: </h2>
            <p-tag styleClass="mt-4" [value]="getDifficulty(topic!.difficulty)"
                [severity]="getSeverity(getDifficulty(topic!.difficulty))"></p-tag>
        </div>
        <p style="margin-right: 1rem;">Question Difficulty: {{ question!.difficulty * 100 | number:'1.0-0' }}</p>
    </div>
</div>
<hr class="mt-1 mb-5">

<span [ngSwitch]="question?.type" *ngIf="attemps > 0; else finish">
    <div *ngSwitchCase="0">
        <app-word-complete [question]="question!" (onResolve)="validateQuestion($event)"></app-word-complete>
    </div>
    <div *ngSwitchCase="1">
        <app-choose-option [question]="question!" (onResolve)="validateQuestion($event)"></app-choose-option>
    </div>
    <div *ngSwitchCase="2">
        <app-sentece-sort [question]="question!" (onResolve)="validateQuestion($event)"></app-sentece-sort>
    </div>
    <div *ngSwitchCase="3">
        <app-select-one [question]="question!" (onResolve)="validateQuestion($event)"></app-select-one>
    </div>
    <div *ngSwitchDefault>
        <p>No question found</p>
    </div>
</span>

<ng-template #finish>
    <h1 class="text-center">Game finished</h1>
    <h2 class="text-center">Your skill points: {{user.student!.level}} <p-tag styleClass="mt-4"
            [value]="getDifficulty(user.student!.level/100)"
            [severity]="getSeverity(getDifficulty(user.student!.level/100))"></p-tag> </h2>
</ng-template>

<hr style="margin-top: 2rem; margin-bottom: 2rem;">

<div class="text-center" *ngIf="attemps > 0">
    <span class="text-center text-lg">Your skills progress: <p-tag styleClass="mt-4"
            [value]="getDifficulty(user.student!.level/100)"
            [severity]="getSeverity(getDifficulty(user.student!.level/100))"></p-tag> {{user.student!.level}}/100</span>
</div>

<div *ngIf="isCorrect != undefined" class="flex flex-wrap justify-content-center my-5">
    <div *ngIf="isCorrect; else wrong" class="result bg-green-400">
        <span class="pi pi-check"></span>
        <span>Correct</span>
    </div>
    <ng-template #wrong>
        <div class="result bg-red-500">
            <span class="pi pi-times"></span>
            <span>Wrong</span>
        </div>
    </ng-template>
    <p-button styleClass="p-button-secondary p-button-text" label="Next" icon="pi pi-caret-right" iconPos="right"
        (onClick)="getNextQuestion()"></p-button>
    <hr class="mx-3 my-0">
    <div style="display: flex; justify-content: center">
        <p-button label="Watch lesson" styleClass="p-button-secondary" icon="pi pi-eye"
            (onClick)="goToLesson()"></p-button>
    </div>
</div>