<p-menubar [model]="items">    
    <ng-template pTemplate="end">
        <p-button label="Salir" icon="pi pi-sign-out" styleClass="p-button-secondary"></p-button>
    </ng-template>
</p-menubar>

<!-- <div class="flex flex-wrap justify-content-center mt-5">
    <h1 class="w-full">Welcome to the app. Let's start learning!</h1>
    <p class="w-full">Currently we are working on the app.</p>
</div> -->

<router-outlet></router-outlet>

<!-- <app-game-view></app-game-view> -->
<!-- <app-main></app-main> -->
